root = true
# top-most EditorConfig file

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python files
[*.sql]
ij_sql_built_in_case = 2
ij_sql_continuation_indent_size = 4
ij_sql_expr_case = 2
ij_sql_expr_case_collapse = false
ij_sql_expr_case_else_align_then = true
ij_sql_expr_case_end = 1
ij_sql_expr_case_keep_nl_after_then = true
ij_sql_expr_case_then_align = true
ij_sql_expr_case_then_wrap = true
ij_sql_from_el_line = 1
ij_sql_from_indent_join = false
ij_sql_from_only_join_indent = 1
ij_sql_from_only_join_indent = 2
ij_sql_from_place_on = 11
ij_sql_from_wrap_on = true
ij_sql_insert_closing = 3
ij_sql_insert_el_comma = 1
ij_sql_insert_el_wrap = 1
ij_sql_insert_into_nl = 1
ij_sql_insert_opening = 4
ij_sql_insert_values_el_line = 101
ij_sql_keyword_case = 2
ij_sql_query_el_comma = 1
ij_sql_query_in_one_string = 1
ij_sql_select_el_comma = 1
ij_sql_select_keep_n_items_in_line = 4
ij_sql_subquery_closing = 3
ij_sql_subquery_content = 4
ij_sql_subquery_opening = 3
ij_sql_subquery_par_space_before = 1
ij_sql_type_case = 2
ij_sql_where_el_line = 101
indent_size = 4

# Use 4 spaces for the Python files
[*.py]
indent_size = 4
max_line_length = 80

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore
indent_size = 2

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.xml]
indent_style = space
indent_size

[{paket.dependencies,paket.references}]
insert_final_newline = false

[*.dot]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Powershell files
[*.ps1]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# XML project files
[*.{xml,csproj,fsproj,proj,projitems}]
indent_size = 2
indent_style = space
insert_final_newline = true
xml_attribute_indent = align_by_first_attribute
xml_attribute_style = do_not_touch
xml_blank_line_after_pi = false
xml_indent_child_elements = one_indent
xml_indent_text = one_indent
xml_linebreak_before_multiline_elements = true
xml_linebreaks_inside_tags_for_elements_with_child_elements = true
xml_pi_attribute_style = on_single_line
xml_space_after_last_attribute = false
xml_space_after_last_pi_attribute = true
xml_space_before_self_closing = true
xml_spaces_around_eq_in_attribute = false
xml_spaces_around_eq_in_pi_attribute = false
xml_spaces_inside_tags = false

[paket.*]
insert_final_newline = false

[*.{fs,fsx}]
indent_size = 4
fsharp_multiline_bracket_style = stroustrup
fsharp_multi_line_lambda_closing_newline = true
fsharp_bar_before_discriminated_union_declaration = true
fsharp_keep_max_number_of_blank_lines = 1
fsharp_record_multiline_formatter = number_of_items
fsharp_max_record_number_of_items = 1
fsharp_array_or_list_multiline_formatter = number_of_items
fsharp_max_array_or_list_number_of_items = 1

# C# files
[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
# New line preferences
end_of_line = crlf

#### .NET Coding Conventions ####

csharp_keep_blank_lines_in_code = 1

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true

# this. and Me. preferences
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Expression-level preferences
csharp_style_deconstructed_variable_declaration = true:warning
csharp_style_inlined_variable_declaration = true:warning
csharp_style_throw_expression = true:warning
dotnet_style_coalesce_expression = true:warning
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_null_propagation = true:warning
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:warning
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning

# Field preferences
dotnet_style_readonly_field = true:warning

# Parameter preferences
dotnet_code_quality_unused_parameters = all:warning

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = true:warning
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning

# Expression-bodied members
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:silent
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:silent
csharp_style_expression_bodied_operators = false:warning
csharp_style_expression_bodied_properties = true:suggestion

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_prefer_switch_expression = true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call = true:warning

# Modifier preferences
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:silent

# Code-block preferences
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = false:warning

# Expression-level preferences
csharp_prefer_simple_default_expression = true:warning
csharp_style_pattern_local_over_anonymous_function = true:warning
csharp_style_prefer_index_operator = false:suggestion
csharp_style_prefer_range_operator = false:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:warning
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:warning

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

csharp_wrap_parameters_style = chop_if_long
csharp_wrap_before_declaration_lpar = false
csharp_wrap_before_declaration_rpar = true
csharp_wrap_after_declaration_lpar = true
csharp_max_enum_members_on_line = 1
csharp_place_attribute_on_same_line = false
csharp_max_formal_parameters_on_line = 4
csharp_max_invocation_arguments_on_line = 4
csharp_max_primary_constructor_parameters_on_line = 1
csharp_max_initializer_elements_on_line = 1
csharp_max_array_initializer_elements_on_line = 2

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.style = begins_with__

dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with__.severity = suggestion
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with__.symbols = private_or_internal_static_field
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with__.style = begins_with__

dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = True
dotnet_naming_rule.private_static_readonly_rule.resharper_description = Static readonly fields (private)
dotnet_naming_rule.private_static_readonly_rule.resharper_guid = 15b5b1f1-457c-4ca6-b278-5615aedc07d3
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols

# lower_camel_case_style (example: _myVariable)
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public,internal,private,protected,protected_internal
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private
dotnet_naming_symbols.private_or_internal_field.required_modifiers =

dotnet_naming_symbols.private_or_internal_static_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_static_field.applicable_accessibilities = internal, private
dotnet_naming_symbols.private_or_internal_static_field.required_modifiers = static

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.non_field_members.required_modifiers =

# Naming styles

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.begins_with__.required_prefix = _
dotnet_naming_style.begins_with__.required_suffix =
dotnet_naming_style.begins_with__.word_separator =
dotnet_naming_style.begins_with__.capitalization = camel_case

dotnet_diagnostic.CS0108.severity = error
dotnet_diagnostic.CS0114.severity = error
dotnet_diagnostic.CS0168.severity = error
dotnet_diagnostic.CS0169.severity = error
dotnet_diagnostic.CS0219.severity = error
dotnet_diagnostic.CS0472.severity = error
dotnet_diagnostic.CS0618.severity = error
dotnet_diagnostic.CS0649.severity = error
dotnet_diagnostic.CS4014.severity = error
dotnet_diagnostic.CS8509.severity = error
dotnet_diagnostic.CS8524.severity = error
dotnet_diagnostic.CS8597.severity = error # Thrown value may be null.
dotnet_diagnostic.CS8600.severity = error # Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8601.severity = error # Possible null reference assignment.
dotnet_diagnostic.CS8602.severity = error # Dereference of a possibly null reference.
dotnet_diagnostic.CS8603.severity = error # Possible null reference return.
dotnet_diagnostic.CS8604.severity = error # Possible null reference argument for parameter.
dotnet_diagnostic.CS8605.severity = error # Unboxing a possibly null value.
dotnet_diagnostic.CS8606.severity = error
dotnet_diagnostic.CS8607.severity = error # A possible null value may not be used for a type marked with [NotNull] or [DisallowNull]
dotnet_diagnostic.CS8608.severity = error # Nullability of reference types in type doesn't match overridden member.
dotnet_diagnostic.CS8609.severity = error # Nullability of reference types in return type doesn't match overridden member.
dotnet_diagnostic.CS8610.severity = error # Nullability of reference types in type parameter doesn't match overridden member.
dotnet_diagnostic.CS8611.severity = error # Nullability of reference types in type parameter doesn't match partial method declaration.
dotnet_diagnostic.CS8612.severity = error # Nullability of reference types in type doesn't match implicitly implemented member.
dotnet_diagnostic.CS8613.severity = error # Nullability of reference types in return type doesn't match implicitly implemented member.
dotnet_diagnostic.CS8614.severity = error # Nullability of reference types in type of parameter doesn't match implicitly implemented member.
dotnet_diagnostic.CS8615.severity = error # Nullability of reference types in type doesn't match implemented member.
dotnet_diagnostic.CS8616.severity = error # Nullability of reference types in return type doesn't match implemented member.
dotnet_diagnostic.CS8617.severity = error # Nullability of reference types in type of parameter doesn't match implemented member.
dotnet_diagnostic.CS8618.severity = error # Non-nullable variable must contain a non-null value when exiting constructor. Consider declaring it as nullable.
dotnet_diagnostic.CS8619.severity = error # Nullability of reference types in value doesn't match target type.
dotnet_diagnostic.CS8620.severity = error # Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8621.severity = error # Nullability of reference types in return type doesn't match the target delegate (possibly because of nullability attributes).
dotnet_diagnostic.CS8622.severity = error # Nullability of reference types in type of parameter doesn't match the target delegate (possibly because of nullability attributes).
dotnet_diagnostic.CS8623.severity = error
dotnet_diagnostic.CS8624.severity = error # Argument cannot be used as an output due to differences in the nullability of reference types.
dotnet_diagnostic.CS8625.severity = error # Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8626.severity = error
dotnet_diagnostic.CS8627.severity = error
dotnet_diagnostic.CS8628.severity = error
dotnet_diagnostic.CS8629.severity = error # Nullable value type may be null.
dotnet_diagnostic.CS8630.severity = error
dotnet_diagnostic.CS8631.severity = error # The type cannot be used as type parameter in the generic type or method. Nullability of type argument doesn't match constraint type.
dotnet_diagnostic.CS8632.severity = error # The annotation for nullable reference types should only be used in code within a '#nullable' annotations context
dotnet_diagnostic.CS8633.severity = error # Nullability in constraints for type parameter of method doesn't match the constraints for type parameter of interface method. Consider using an explicit interface implementation instead.
dotnet_diagnostic.CS8634.severity = error # The type cannot be used as type parameter in the generic type or method. Nullability of type argument doesn't match 'class' constraint.
dotnet_diagnostic.CS8635.severity = error
dotnet_diagnostic.CS8636.severity = error
dotnet_diagnostic.CS8637.severity = error
dotnet_diagnostic.CS8638.severity = error
dotnet_diagnostic.CS8639.severity = error
dotnet_diagnostic.CS8643.severity = error # Nullability of reference types in explicit interface specifier doesn't match interface implemented by the type.
dotnet_diagnostic.CS8644.severity = error # Type does not implement interface member. Nullability of reference types in interface implemented by the base type doesn't match.
dotnet_diagnostic.CS8645.severity = error # Member is already listed in the interface list on type with different nullability of reference types.
dotnet_diagnostic.CS8655.severity = error # The switch expression does not handle some null inputs (it is not exhaustive).
dotnet_diagnostic.CS8667.severity = error # Partial method declarations have inconsistent nullability in constraints for type parameter.
dotnet_diagnostic.CS8670.severity = error # Object or collection initializer implicitly dereferences possibly null member.
dotnet_diagnostic.CS8714.severity = error # The type cannot be used as type parameter in the generic type or method. Nullability of type argument doesn't match 'notnull' constraint.
dotnet_diagnostic.CS8762.severity = error # Parameter must have a non-null value when exiting.
dotnet_diagnostic.CS8763.severity = error # A method marked [DoesNotReturn] should not return.
dotnet_diagnostic.CS8764.severity = error # Nullability of return type doesn't match overridden member (possibly because of nullability attributes).
dotnet_diagnostic.CS8765.severity = error # Nullability of type of parameter doesn't match overridden member (possibly because of nullability attributes).
dotnet_diagnostic.CS8766.severity = error # Nullability of reference types in return type of doesn't match implicitly implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8767.severity = error # Nullability of reference types in type of parameter of doesn't match implicitly implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8768.severity = error # Nullability of reference types in return type doesn't match implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8769.severity = error # Nullability of reference types in type of parameter doesn't match implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8770.severity = error # Method lacks [DoesNotReturn] annotation to match implemented or overridden member.
dotnet_diagnostic.CS8774.severity = error # Member must have a non-null value when exiting.
dotnet_diagnostic.CS8775.severity = error # Member must have a non-null value when exiting.
dotnet_diagnostic.CS8776.severity = error # Member cannot be used in this attribute.
dotnet_diagnostic.CS8777.severity = error # Parameter must have a non-null value when exiting.
dotnet_diagnostic.CS8819.severity = error # Nullability of reference types in return type doesn't match partial method declaration.
dotnet_diagnostic.CS8824.severity = error # Parameter must have a non-null value when exiting because parameter is non-null.
dotnet_diagnostic.CS8825.severity = error # Return value must be non-null because parameter is non-null.
dotnet_diagnostic.CS8847.severity = error # The switch expression does not handle some null inputs (it is not exhaustive). However, a pattern with a 'when' clause might successfully match this value.

dotnet_diagnostic.MVC1000.severity = error

# Redundant using directive as Warning

resharper_arguments_literal = named
resharper_arguments_style_literal_highlighting = warning
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = error
resharper_assign_null_to_not_null_attribute_highlighting = error
resharper_check_namespace_highlighting = error
resharper_csharp_constructor_or_destructor_body = block_body
resharper_csharp_local_function_body = block_body
resharper_csharparguments_named = named
resharper_entity_framework_unsupported_server_side_function_call_highlighting = error
resharper_field_can_be_made_read_only_global_highlighting = error
resharper_field_can_be_made_read_only_local_highlighting = error
resharper_method_or_operator_body = block_body
resharper_not_accessed_field_local_highlighting = error
resharper_redundant_name_qualifier_highlighting = none
resharper_redundant_using_directive_highlighting = error
resharper_trailing_comma_in_multiline_lists = true
resharper_unused_member_local_highlighting = error
resharper_unused_parameter_global_highlighting = error
resharper_unused_parameter_highlighting = error
resharper_unused_parameter_in_partial_method_highlighting = error
resharper_unused_parameter_local_highlighting = error
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_remove_blank_lines_near_braces_in_code = true
resharper_csharp_blank_lines_around_local_method = 1
